<%= render partial: 'partial/top_breadcrumb', locals: {books:@books} %>
<div class="container">
  <div class="card-content z-depth-5 main-part-wrapper">
    <div class="row">
      <div class="col s5 center-align">
        <div class="find-button-wrapper">
          <%= link_to review_path, :class => "btn waves-effect waves-light z-depth-5 btn-large" do %>
            <i class="material-icons left">search</i>さがす
          <% end %>
        </div>
        <div class="mylist-button-wrapper">
          <%= link_to review_mylist_path, :class => "btn waves-effect waves-light z-depth-5 btn-large" do %>
            <i class="material-icons left">loyalty</i>マイリスト
          <% end %>
        </div>
        <div class="create-button-wrapper">
          <%= link_to new_book_path, :class => "btn waves-effect waves-light z-depth-5 btn-large" do %>
            <i class="material-icons left">queue</i>つくる
          <% end %>
        </div>
      </div>
      <div class="col s7 book-info-wrapper">
        <div class="card blue-grey lighten-1">
          <div class="card-content white-text">
            <span class="card-title">今までに読んだ本の数</span>
            <p>15冊</p>
            <span class="card-title">まだ読んでいないお気に入りにした本の数</span>
            <p>8冊</p>
          </div>
          <div class="card-action">
            <a href="#">未読リストへ</a>
            <a href="#">既読リストへ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="center-align"><a><i class="material-icons slider-title-icons">assessment</i>ランキング上位</a></h3>
  <%= render partial: 'partial/book_slider', locals: {books:@books} %>
  <h3 class="center-align"><a><i class="material-icons slider-title-icons">error</i>未読の本</a></h3>
  <%= render partial: 'partial/book_slider', locals: {books:@books} %>
  <h3 class="center-align"><a><i class="material-icons slider-title-icons">done</i>既読の本</a></h3>
  <%= render partial: 'partial/book_slider', locals: {books:@books} %>
</div>

<%= render partial: 'partial/footer' %>
