<script>
$(document).ready(function() {
  $('select').material_select();
});
</script>
<style>
.logo-position {
    padding-left: 85%;
    margin-left: 20px;
}
</style>
<div>
  <ul id="nav-mobile" class="side-nav fixed col s3" style="transform: translateX(0%)">
    <li class="logo">
      <%= link_to root_path, :class=> "title-logo orange-text accent-1" do %>
        <h4>BOOKLOG</h4>
      <% end %>
    </li>
    <%= form_tag review_search_path, remote: true, :class=>"book_search" do %>
    <input type="submit" value="submit" style="display: none;">
    <li class="search">
      <div class="search-wrapper card">
        <input id="search" name="book_name">
        <i id="submit" class="material-icons">search</i>
        <div class="search-results"></div>
      </div>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <div class="order-select">
            <select name="order">
              <optgroup label="order">
                <option value="1">古い順</option>
                <option value="2">新しい順</option>
                <option value="3">評価点数順</option>
                <option value="4">ジャンル順</option>
              </optgroup>
            </select>
          </div>
        </li>
        <li class="bold">
          <a class="collapsible-header waves-effect waves-teal" value="">ジャンル</a>
          <div class="collapsible-body">
            <ul>
              <li>
                <div class="genre-select">
                  <div id="all-check" class="switch center-align" checked="<%=  %>">
                    <label>
                      All Cancel
                      <input type="checkbox">
                      <span class="lever"></span>
                      All Check
                    </label>
                  </div>
                  <% @genres.each do |genre| %>
                    <%= render partial: 'partial/genre_check', locals: {genre: genre} %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="bold">
          <p class="collapsible-header waves-effect waves-teal never-read-radio-wrapper">
            <input name="ever-read" type="radio" id="ever-read" value="false"/>
            <label for="ever-read">未読のみ</label>
          </p>
          <p class="collapsible-header waves-effect waves-teal ever-read-radio-wrapper">
            <input name="ever-read" type="radio" id="never-read" value="true"/>
            <label for="never-read">既読のみ</label>
          </p>
          <p class="ollapsible-header waves-effect waves-teal favorite-check-wrapper">
            <input name="favorite" type="checkbox" class="filled-in" id="favorite-check" <%= "checked" if @favorite_flg == "true" %>/>
            <label for="favorite-check">お気に入りのみ</label>
          </p>
        </li>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
<div class="book-table-wrapper">
  <%= render partial: 'partial/pagination', locals: {books: @books} %>
</div>
