<!-- フッター -->
<footer class="page-footer">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Fotter</h5>
      <p class="grey-text text-lighten-4">Made in Japan.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">コンテンツ</h5>
      <ul>
        <li><%= link_to review_path, :class => "grey-text text-lighten-3" do %>検索へ<% end %></li>
        <li><%= link_to review_path(favorite: true), :class => "grey-text text-lighten-3" do %>マイリストへ<% end %></li>
        <li><%= link_to review_path(ever_read: false), :class => "grey-text text-lighten-3" do %>未読へ<% end %></li>
        <li><%= link_to review_path(ever_read: true), :class => "grey-text text-lighten-3" do %>既読へ<% end %></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
      <%= link_to root_path, :class => "grey-text text-lighten-4 right" do %>HOME<% end %>
    </div>
  </div>
</footer>
