<div class="slider-container">
  <ul class="never-read-slider">
    <% books.each_with_index do |book,i| %>
    <span>
      <font color="#f5f5f5">
        <!-- <li><a href=""><img class="content-img" src="<%= book.image_url %>"></a></li> -->
          <%= link_to review_path+"/#{book.id}" do %>
            <img class="content-img" src="<%= book.image_url || asset_path("thumbnail/noImage.jpg") %>">
          <% end %>
        <div class="book-title center-align"><%= book.title %></div>
        <% read_status = ReadStatus.find_or_create_by(book_id: book.id) %>
        <div class="">評価点:
          <%= if read_status.score != nil
                read_status.score.to_s + "点"
              else
                "未設定"
              end %>
        </div>
      </font>
    </span>
    <% end %>
  </ul>
  <div id="arrows">
    <div class="never-read-slider-prev slick-prev"></div>
    <div class="never-read-slider-next slick-next"></div>
  </div>
</div>
