
<html>
  <head>
    <title>BooksearchRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "#{controller_name}" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "#{controller_name}" %>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render_breadcrumbs builder: ::CustomBreadcrumbsBuilder %>
    <%= yield %>
  </body>
</html>
